<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Data Page</title>
  </head>
  <body>
  <h1 id="Datamachine_id"><%=machine_id%></h1>
  <h2 id="Datacurrent"></h2>
  <h2 id="DataCount"></h2>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/script.js"></script>

</html>
